 .search-form {
    background-color: #fff;
    width: 280px;
    height: 71px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.12);
    transform: translate(-90px, 2px) ;
  }
  .search-input {
    width: 90%;
    height: 52%;
    font-size: 11px;
    font-family:Poppins, sans-serif ;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 20px;
  }
  
  .search-button {
    position: absolute;
    transform: translate(90px);
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-size: 13px;
  }
  .search-button:hover{
    color: #CEA352;
  }
  