@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.wrapper {
  height: auto; 
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; 
}

.site-footer {
  width: 100%;
  max-width: 1200px;
  height: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px 0; 
}

.logo {
  margin-bottom: 20px; 
  max-width: 300px;
}
.logo img {
  width: 100%; 
  max-width: 270px;
}

.footer-text-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
}
.footer-intro {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #636363;
}
.footer-copyright {
  font-size: 14px; 
  // text-transform: uppercase; 
  color: #b2b2b2; 
  letter-spacing: 1px; 
  font-family: Poppins, sans-serif; 
}
.footer-copyright a {
  color: #CEA352;
  text-decoration: none;
  cursor: pointer;
}
.footer-copyright a:hover {
  text-decoration: underline;
}

.social-menu-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  margin-top: 20px;
}

.list-social {
  display: flex;
  list-style-type: none;
  gap: 15px; 
  padding: 0;
  margin: 0;
}

.icon {
  display: inline-block;
}

.icon a {
  color: #4a4a4a;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dfdcdc;
  transition: background-color 0.3s, color 0.3s;
}


.icon a:hover {
  color: #CEA352;
}

.menu-contact p {
  font-size: 14px;
}

.icon-spacing {
  margin-right: 8px;
}

#contact-with {
  font-weight: bold; 
  text-transform: uppercase; 
  font-family: 'Poppins', sans-serif; 
  font-size: 14px; 
  color: #4a4a4a; 
}


// Media Queries
@media (min-width: 1200px) {
  .site-footer {
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 40px 0; 
  }

  .footer-text-container {
    width: 570px; 
    max-width: none; 
  }

  .social-menu-container {
    margin-top: 0;
  }
}